@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    font-size: 15px;
    max-height: 100vh;
}

.header{
    background-image: url("images/desktop/image-hero.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header .nav{
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
    color: white;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}
.header .nav ul li{
    padding-bottom: 5px;
}
.header .nav ul li:hover{
    border-bottom: solid 3px;
}
.header p{
    font-size: 5rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
    margin-left: 10rem;
    margin-top: 5rem;
    border: 2px white solid;
    padding: 2rem;
    width: 700px;
    line-height: 0.9;
    text-transform: uppercase;
}

.main{
    margin: 8rem 10rem;
    display: flex;
    background: white;
    position: relative;
}
.main img{
    width: 60%;
}

.main .description{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    /*height: 300px;*/
    bottom: 0;
    right: 0;
    width: 600px ;
    background-color: white;
    /*z-index: 999;*/
    padding: 5rem 3rem 0 5rem;
}

.main .description p{
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(0, 0%, 55%);
}

.main .description h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.creation{
    padding: 0 10rem 10rem 10rem;
}

.creation .head-creation{
    display: flex;
    justify-content: space-between;

    /*align-items: center;*/
}

.creation .head-creation h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3rem;
}

.creation .head-creation button{
    padding: 0 3rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    color: black;
    background-color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
    cursor: pointer;
}
.creation .head-creation button:hover{
    background-color: black;
    color: white;
}
.grid-creation-card{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto-fill,auto);
    gap: 2rem;
    /*row-gap: 2rem;*/

}

.card{
    height: 400px;
    width: auto;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    padding: 2rem  ;
    overflow: hidden;
    cursor: pointer;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
}

.card:hover::before {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
.text{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    transition: color 0.3s ease;
    transform: translateX(1%);
}


.card:hover .text {
    color: black;
}

.card-1{
    background-image: url("images/desktop/image-deep-earth.jpg");
}

.card-2{
    background-image: url("images/desktop/image-night-arcade.jpg");
}
.card-3{
    background-image: url("images/desktop/image-soccer-team.jpg");
}
.card-4{
    background-image: url("images/desktop/image-grid.jpg");
}
.card-5{
    background-image: url("images/desktop/image-from-above.jpg");
}
.card-6{
    background-image: url("images/desktop/image-pocket-borealis.jpg");
}
.card-7{
    background-image: url("images/desktop/image-curiosity.jpg");
}
.card-8{
    background-image: url("images/desktop/image-fisheye.jpg");
}

.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
}

.footer .footer-left ul{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 1.5rem;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(0, 0%, 55%);
    cursor: pointer;
}

.footer .footer-left ul li{
    padding-bottom: 5px;
}

.footer .footer-left ul li:hover{
    border-bottom: solid 3px white;
}
.footer .footer-right{
    display: flex;
    justify-content: space-between;
    /*align-items: flex-start;*/
    flex-direction: column;
}

.footer .footer-right .social-media{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.footer .footer-right .social-media img{
    padding-bottom: 5px;
    cursor: pointer;

}
.footer .footer-right .social-media img:hover{
    border-bottom: solid 3px white;

}

.footer .footer-right p{
    padding-top: 1rem;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(0, 0%, 41%);
}